<footer class="navbar text-light navbar-dark bg-dark">
    <div class="row px-1 py-3 mt-1">
      <div class="col-3 col-md ms-auto">
        <small class="d-block mb-3 text-light">&copy; 2024 - <a class="link-secondary text-light" href="#">Aneka Shop</a></small>
        <p class="link-secondary">Aneka Shop adalah website jual beli online</p>
      </div>
      <div class="col-2 col-md ms-auto">
        <b class="ukur">About</b>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="{{ site.about }}">Tentang Kami</a></li>
          <li><a class="link-secondary" href="{{ site.privacy-policy }}">Privacy Policy</a></li>
          <li><a class="link-secondary" href="{{ site.disclaimer }}">Disclaimer</a></li>
          <li><a class="link-secondary" href="{{ site.sitemap }}">Sitemap</a></li>
          <li><a class="link-secondary" href="{{ site.donasi }}">Donasi</a></li>
        </ul>
      </div>
      <div class="col-2 col-md ms-auto">
        <b class="ukur">Kontak</b>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="{{ site.email }}">Email</a></li>
          <li><a class="link-secondary" href="{{ site.whatsapp }}">Whatsapp</a></li>
          <li><a class="link-secondary" href="{{ site.telegram }}">Telegram</a></li>
          <li><a class="link-secondary" href="{{ site.messenger }}">Messenger</a></li>
        </ul>
      </div>
      <div class="col-2 col-md ms-auto">
        <b class="ukur">Ikuti Kami</b>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="{{ site.facebook }}">Facebook</a></li>
          <li><a class="link-secondary" href="{{ site.tiktok }}">Tiktok</a></li>
          <li><a class="link-secondary" href="{{ site.instagram }}">Instagram</a></li>
          <li><a class="link-secondary" href="{{ site.youtube }}">Youtube</a></li>
        </ul>
      </div>
      <div class="col-2 col-md ms-auto">
        <b class="ukur">Join Team</b>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="{{ site.affiliate }}">Affiliate</a></li>
          <li><a class="link-secondary" href="{{ site.store-shop }}">Store Shop</a></li>
          <li><a class="link-secondary" href="{{ site.agen-pulsa }}">Agen Pulsa</a></li>
          <li><a class="link-secondary" href="{{ site.agen-crypto }}">Crypto</a></li>
        </ul>
      </div>
    </div>
  </footer>