<footer class="navbar text-light navbar-dark bg-dark">
    <div class="row px-1 py-3 mt-1">
      <div class="col-3 col-md ms-auto">
        <small class="d-block mb-3 text-light">&copy; 2024 - <a class="link-secondary text-light" href="#">Aneka Shop</a></small>
        <p class="link-secondary">Aneka Shop adalah website jual beli online</p>
      </div>
      <div class="col-2 col-md ms-auto">
        <b class="ukur">About</b>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Tentang Kami</a></li>
          <li><a class="link-secondary" href="#">Privacy Policy</a></li>
          <li><a class="link-secondary" href="#">Disclaimer</a></li>
          <li><a class="link-secondary" href="#">Sitemap</a></li>
          <li><a class="link-secondary" href="#">Donasi</a></li>
        </ul>
      </div>
      <div class="col-2 col-md ms-auto">
        <b class="ukur">Kontak</b>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Email</a></li>
          <li><a class="link-secondary" href="#">Whatsapp</a></li>
          <li><a class="link-secondary" href="#">Telegram</a></li>
          <li><a class="link-secondary" href="#">Messenger</a></li>
        </ul>
      </div>
      <div class="col-2 col-md ms-auto">
        <b class="ukur">Ikuti Kami</b>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Facebook</a></li>
          <li><a class="link-secondary" href="#">Tiktok</a></li>
          <li><a class="link-secondary" href="#">Instagram</a></li>
          <li><a class="link-secondary" href="#">Youtube</a></li>
        </ul>
      </div>
      <div class="col-2 col-md ms-auto">
        <b class="ukur">Join Team</b>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Affiliate</a></li>
          <li><a class="link-secondary" href="#">Store Shop</a></li>
          <li><a class="link-secondary" href="#">Agen Pulsa</a></li>
          <li><a class="link-secondary" href="#">Crypto</a></li>
        </ul>
      </div>
    </div>
    </div>
  </footer>