<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="30" class="d-inline-block">
        AnekaShop
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <form class="d-flex ms-auto mt-2">
          <input class="form-control me-2" type="search" placeholder="Cari Produk Di Sini..." aria-label="Search">
          <button class="btn btn-light" type="submit">Cari</button>
        </form>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Beranda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Produk
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Baju</a></li>
              <li><a class="dropdown-item" href="#">Celana</a></li>
              <li><a class="dropdown-item" href="#">Hijab</a></li>
              <li><a class="dropdown-item" href="#">Assesoris</a></li>
              <li><a class="dropdown-item" href="#">Alat Rumah</a></li>
              <li><a class="dropdown-item" href="#">Alat Dapur</a></li>
              <li><a class="dropdown-item" href="#">Alat Wifi</a></li>
              <li><a class="dropdown-item" href="#">Elektronik</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">Informasi</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Tentang Kami</a></li>
              <li><a class="dropdown-item" href="#">Kontak</a></li>
              <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
              <li><a class="dropdown-item" href="#">Disclaimer</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>