<div class="container px-2 py-5" id="icon-grid">
    <center><h2 class="pb-2 border-bottom">Produk Celana</h2></center>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5 py-4">
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/id-11134207-7r98o-lkrvmjt0f37ua0.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Rp300.000</h6></center>
          <center><p>CELANA HIKING</p></center>
          <center><a href="https://shope.ee/qKRfzIVuQ" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/ade1664e795a454f48dcddd1e2fefacf.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Rp54.400</h6></center>
          <center><p>CELANA GUNUNG CELANA PENDEK</p></center>
          <center><a href="https://shope.ee/9evqCLzWnx" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/62d36ff0c02f04628f455238a97b7af8.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Rp67.000</h6></center>
          <center><p>CELANA SANTAI NEVADA</p></center>
          <center><a href="https://shope.ee/8A72PiWvxp" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/2b8d523ecd0103a4af4097f7f6f48147.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Rp59.650</h6></center>
          <center><p>CELANA PANJANG NEVADA</p></center>
          <center><a href="https://shope.ee/3L1mev4ug4" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/cab6f06c91c4cdd7a919ebe8077dfb53.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Rp54.500</h6></center>
          <center><p>CELANA PANJANG PRIA</p></center>
          <center><a href="https://shope.ee/3py3FvaSkS" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/id-11134207-7r98r-ln2zitgm29l8a1.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Rp47.999</h6></center>
          <center><p>Celana Sirwal</p></center>
          <center><a href="https://shope.ee/8KQScIlhpX" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/223d44a877ac70e4b9c4752b700e2874.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Rp70.000</h6></center>
          <center><p>Celana Formal Celana Kasual Ankle Pants</p></center>
          <center><a href="https://shope.ee/7KXvQYQx9M" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/0cc3175e4c622d273155b19481eecab4.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Rp169.000</h6></center>
          <center><p>YABI PANTS Celana Wanita</p></center>
          <center><a href="https://shope.ee/50A0eLXxBe" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
    </div>
  </div>
