<div class="container px-2 py-5" id="icon-grid">
    <center><h2 class="pb-2 border-bottom">Produk Baju</h2></center>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5 py-4">
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-ws-id.img.susercontent.com/id-11134207-7r98v-lnjp2tbwu8ak91.webp" class="w-50 h-50 mt-2"></center>
          <center><h4 class="fw-bold mb-2">Rp39.500</h4></center>
          <center><p>Baju Kaos DOBUJACK</p></center>
          <center><a href="https://shope.ee/6fIERIrW3n" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-ws-id.img.susercontent.com/sg-11134201-7rbnj-lo1vjhcs19e089.webp" class="w-50 h-50 mt-2"></center>
          <center><h4 class="fw-bold mb-2">169.900</h4></center>
          <center><p>baju olahraga wanita lengan pendek</p></center>
          <center><a href="https://shope.ee/lKVt9E8L" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-ws-id.img.susercontent.com/sg-11134201-7rbk5-lqcq12szkmkacc.webp" class="w-50 h-50 mt-2"></center>
          <center><h4 class="fw-bold mb-2">Rp140.900</h4></center>
          <center><p>baju kaos naga japanes</p></center>
          <center><a href="#" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-bs-id.img.susercontent.com/id-11134207-7r992-lm8v23qgyjzfae.webp" class="w-50 h-50 mt-2"></center>
          <center><h4 class="fw-bold mb-2">Rp89.900</h4></center>
          <center><p>Baju Koko Wadimor</p></center>
          <center><a href="https://shope.ee/3VLCgqZhj9" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-bs-id.img.susercontent.com/464ec87cc6446916215cadfbf3618704.webp" class="w-50 h-50 mt-2"></center>
          <center><h4 class="fw-bold mb-2">Rp115.000</h4></center>
          <center><p>Baju ok medis lengan panjang</p></center>
          <center><a href="https://shope.ee/AKBWpZs7He" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-bs-id.img.susercontent.com/3b82b734334a2b80a3dac9d43b174c46.webp" class="w-50 h-50 mt-2"></center>
          <center><h4 class="fw-bold mb-2">Rp36.400</h4></center>
          <center><p>Baju setelan piyama pendek anak</p></center>
          <center><a href="https://shope.ee/7UrLScIqH2" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-bs-id.img.susercontent.com/id-11134207-7r98o-lnl4un5v4qcbed.webp" class="w-50 h-50 mt-2"></center>
          <center><h4 class="fw-bold mb-2">Rp39.920</h4></center>
          <center><p>Kaos Dickies</p></center>
          <center><a href="https://shope.ee/10dripHPZw" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-bs-id.img.susercontent.com/526241f28b075b0a9b56c4f4ff45ce41.webp" class="w-50 h-50 mt-2"></center>
          <center><h4 class="fw-bold mb-2">Rp53.865</h4></center>
          <center><p> Baju Putih Wanita</p></center>
          <center><a href="https://shope.ee/4VDjtRLdtz" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
    </div>
  </div>