<div class="container px-2 py-5" id="icon-grid">
    <center><h2 class="pb-2 border-bottom">Produk Alat Rumah</h2></center>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5 py-4">
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/id-11134207-7qula-lj6ijhm6r57l46.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Produk Alat Rumah</h6></center>
          <center><p>ini hanya contoh saja</p></center>
          <center><a href="#" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/id-11134207-7qula-lj6ijhm6r57l46.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Produk Alat Rumah</h6></center>
          <center><p>ini hanya contoh saja</p></center>
          <center><a href="#" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/id-11134207-7qula-lj6ijhm6r57l46.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Produk Alat Rumah</h6></center>
          <center><p>ini hanya contoh saja</p></center>
          <center><a href="#" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/id-11134207-7qula-lj6ijhm6r57l46.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Produk Alat Rumah</h6></center>
          <center><p>ini hanya contoh saja</p></center>
          <center><a href="#" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/id-11134207-7qula-lj6ijhm6r57l46.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Produk Alat Rumah</h6></center>
          <center><p>ini hanya contoh saja</p></center>
          <center><a href="#" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/id-11134207-7qula-lj6ijhm6r57l46.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Produk Alat Rumah</h6></center>
          <center><p>ini hanya contoh saja</p></center>
          <center><a href="#" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/id-11134207-7qula-lj6ijhm6r57l46.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Produk Alat Rumah</h6></center>
          <center><p>ini hanya contoh saja</p></center>
          <center><a href="#" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <center><img src="https://down-aka-id.img.susercontent.com/id-11134207-7qula-lj6ijhm6r57l46.webp" class="w-50 h-50 mt-2"></center>
          <center><h6 class="fw-bold mb-2">Produk Alat Rumah</h6></center>
          <center><p>ini hanya contoh saja</p></center>
          <center><a href="#" mt-2><button type="button" class="btn btn-success px-2 py-1">Lihat Produk</button></a></center>
        </div>
      </div>
    </div>
  </div>